[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
pandas = "*"
matplotlib = "*"
future = "*"
scipy = "*"

[dev-packages]
pytest = ">=3.*"

[requires]
python_version = "3.7"
